[2021-06-28 07:34] rishiankush opened #1 "Disable option"
The module works really good. Only thing I did not find is to disable the options in the dropdown menu or simply disable the menu? Is there a way I can do it with this module?

[2021-06-28 08:11] hoaphantn7604 commented on #1
I added disable option in version 1.1.1

[2021-06-28 08:28] rishiankush commented on #1
working great now! Thanks!

[2021-06-28 08:29] #1 closed

[2021-06-30 06:14] rishiankush opened #2 "Scrolling issue"
When I scroll down and select the dropdown, it also goes down with scroll. Here is the screenshot:
![simulator_screenshot_A1AF98D7-BB90-43DB-A261-2E78ADF8DBD8](https://user-images.githubusercontent.com/25289937/123910666-6a809480-d998-11eb-8399-334739358f03.png)

Please note it happens on selecting model(the first dropdown input)
If I don't scroll down it works fine

[2021-06-30 16:03] singhtrustcom opened #3 "Please check this scroll issue"
![image](https://user-images.githubusercontent.com/78361510/123993969-36739680-d9cd-11eb-922c-2d31c202194b.png)

Whenever I will scroll to the list at first its works fine but a the second time it threw an error

[2021-07-01 06:00] hoaphantn7604 commented on #3
which version of my package react-native-element-dropdown are you using?

[2021-07-01 06:05] hoaphantn7604 commented on #2
Thank you. I'm working on it.

[2021-07-01 06:55] hoaphantn7604 commented on #2
I'm fixed, Please install new version 1.1.4

[2021-07-01 06:56] singhtrustcom commented on #3
Hi, @hoaphantn7604  thanks for responding to my message.

I am using
"react-native-element-dropdown": "^1.1.4"*
"react": "16.11.0",

one more thing its working fine on ios but on android  its throwing and error

Thanks

[2021-07-01 07:00] hoaphantn7604 commented on #3
Thank you. I'm working on it.

[2021-07-01 07:02] singhtrustcom commented on #3
@hoaphantn7604  Thanks Great (y)

[2021-07-01 08:03] hoaphantn7604 commented on #3
I'm fixed, Please install new version 1.1.5

[2021-07-01 08:05] singhtrustcom commented on #2
wow, great thanks @hoaphantn7604

let me update to the new version

have a great day :)

[2021-07-01 08:11] singhtrustcom commented on #3
wow, great thanks @hoaphantn7604

let me update to the new version

have a great day :)

[2021-07-01 08:11] #3 closed

[2021-07-01 08:14] rishiankush commented on #2
Great Thanks!

[2021-07-01 08:14] #2 closed

[2021-07-16 00:28] eiji11 opened #4 "Text props"
can you add feature to add props to text for the dropdown? it will be good for adding props like numberOfLines and ellipsizeMode

<Text style={[styles.textItem, placeholderStyle, font()]} **_{...this.props.selectedTextProps}_**>
  {currentValue && currentValue[labelField] || placeholder}
</Text>

[2021-07-16 03:47] hoaphantn7604 commented on #4
Thank you, Please install new version 1.1.14.

[2021-07-17 00:39] #4 closed

[2021-07-19 07:09] nishtha95 opened #5 "Error while opening the dropdown"
Sometimes dropdown crashes with the below errors
`Invariant Violation: [1297,"RCTView",1,{"height":"<<NaN>>"}]` is not usable as a native method argument
` Invariant Violation: [1295,"RCTView",1,{"height":"<<NaN>>","justifyContent":"flex-end"}]` is not usable as a native method argument

[2021-07-19 09:06] hoaphantn7604 commented on #5
Can you provide sample code and screenshot?

[2021-08-03 19:48] fermetin opened #6 "Dropdown props -> valueField not working"
Hi, I was trying to use valueField props for control  dynamically my dropdown  components. I have this `Array<Tax>`  objects at below.

<img width="816" alt="Screen Shot 2021-08-03 at 22 39 35" src="https://user-images.githubusercontent.com/46136231/128075926-0b831cd7-82a3-464d-9afb-8095bef3ccb0.png">

I used value and label field like below

<img width="195" alt="Screen Shot 2021-08-03 at 22 42 2

[2021-08-04 10:55] hoaphantn7604 commented on #6
Thank you. I'm working on it.

[2021-08-04 11:17] fermetin commented on #6
I found the solution I will create pull request I hope it will be satisfying for approve :)

[2021-08-04 11:57] hoaphantn7604 commented on #6
I'm testing the code and doing unit testing

[2021-08-04 13:09] hoaphantn7604 commented on #6
I have solved this problem, please install new version 1.2.1

[2021-08-04 13:33] fermetin commented on #6
I saw your solution but you are not still sending `object_item[valueField]` to `onChange` , I think `onChange` argument must be `object_item[valueField]`

I created PR for this TY
[https://github.com/hoaphantn7604/react-native-element-dropdown/pull/7](url)

[2021-08-04 14:11] hoaphantn7604 commented on #6
In some other cases i need to use object_item, if only return object_item['valueField'] then i don't have labelField.
[code]
You can use this code to get valueField.

[2021-08-04 14:43] fermetin commented on #6
Why do you need valueField props then ?

[2021-08-04 15:13] hoaphantn7604 commented on #6
valueField it as a primary key. "labelField" can have the same value but "valueField" cannot be duplicated.

[2021-08-04 15:17] hoaphantn7604 commented on #6
[code]

[2021-08-04 15:20] hoaphantn7604 commented on #6
Sorry, maybe my documentation is not detailed.

[2021-08-06 01:49] #6 closed

[2021-08-06 01:49] #5 closed

[2021-09-14 08:00] tamangsuresh opened #8 "[Android] Android app is crashing while opening modal"
IOS app is working fine but android is crashing.
<img width="348" alt="Screen Shot 2021-09-14 at 1 42 47 PM" src="https://user-images.githubusercontent.com/21368268/133219009-80caa0e3-8d8c-4373-8a86-d408ac3f0c56.png">
<img width="394" alt="Screen Shot 2021-09-14 at 1 44 53 PM" src="https://user-images.githubusercontent.com/21368268/133219186-b8048285-6fc5-4ee0-b3f3-fa2fd70debdd.png">
<img width="7

[2021-09-15 14:20] hoaphantn7604 commented on #8
Please install new version 1.2.2

[2021-09-18 04:38] #8 closed

[2021-09-27 15:53] minhna opened #9 "Deprecated Gradle features warning"
[code]

I'm using version 1.2.6 with react-native 0.65.1

[2021-09-28 05:44] hoaphantn7604 commented on #9
Please install version 1.2.7 after clean gradlew "cd android && ./gradlew clean". If this problem persists please comment, Thanks.

[2021-09-29 03:04] hoaphantn7604 commented on #9
If there are no more problems, I will close this issue.

[2021-09-29 03:04] #9 closed

[2021-10-01 18:07] Sannidhareddy opened #10 "Issue in Android"
Hi I'm having this issues in Android. Please help!

<img width="368" alt="Screen Shot 2021-10-01 at 1 05 21 PM" src="https://user-images.githubusercontent.com/17995141/135666925-db88ac26-4b4f-4ea2-804a-b4673c0c646b.png">

<img width="371" alt="Screen Shot 2021-10-01 at 1 05 33 PM" src="https://user-images.githubusercontent.com/17995141/135666950-a3852e10-b9d6-4301-b4d5-6d7525afa7b2.png">

[2021-10-02 00:23] hoaphantn7604 commented on #10
please send your code.

[2021-10-02 02:12] hoaphantn7604 commented on #10
What is RN version?

[2021-10-10 03:31] azazel404 opened #11 "implement default value at dropdown"
when API provide data for initial value , how to implement initial value from API to component dropdown.
im already try using props value , but still nothing , initial value not render autofill at UI dropdown

[2021-10-10 06:20] hoaphantn7604 commented on #11
Thanks you, I'm working on it.

[2021-10-10 14:27] azazel404 commented on #11
already solve , thanks , great library

Pada tanggal Min, 10 Okt 2021 pukul 13.51 Hoà Phan ***@***.***>
menulis:

[2021-10-11 12:32] Pavel-Ananich opened #12 "Cannot read property 'getConstants' of undefined"
![Снимок экрана 2021-10-11 в 15 31 12](https://user-images.githubusercontent.com/86955927/136790280-fe84e0c5-4ad6-4549-9917-8a7b294d3767.png)

Code
![Снимок экрана 2021-10-11 в 15 32 01](https://user-images.githubusercontent.com/86955927/136790377-20bbfc2b-56b1-4717-a0fc-b971558183f4.png)
:
![Снимок экрана 2021-10-11 в 15 32 21](https://user-images.githubusercontent.com/86955927/136790418-27ab4fbf

[2021-10-11 14:34] Pavel-Ananich commented on #12
Oh, no. Rebuilt and it works fine. Only can't make width 100%:

![Снимок экрана 2021-10-11 в 17 33 44](https://user-images.githubusercontent.com/86955927/136808323-657708e5-edae-4e1b-b8d0-b1a3508c5f04.png)
![Снимок экрана 2021-10-11 в 17 34 09](https://user-images.githubusercontent.com/86955927/136808383-181fd676-0051-49fe-ab07-af5889ed91c7.png)

[2021-10-12 06:06] #12 closed, assigned to nobody

[2021-10-12 10:21] Pavel-Ananich opened #13 "Dropdown doesn't move when keyboard is open"
Here is search bar:
![Снимок экрана 2021-10-12 в 13 16 34](https://user-images.githubusercontent.com/86955927/136937822-b0924ac7-b85f-4111-ab76-9a2a4c0363d7.png)

When you click on input, it opens dropdown with new input:
![Снимок экрана 2021-10-12 в 13 22 42](https://user-images.githubusercontent.com/86955927/136938685-132f7ed4-e35d-413e-b8b5-0fe38b6360bc.png)

When you click on "Search", modal m

[2021-10-12 11:54] hoaphantn7604 commented on #13
When the dropdown hits the bottom border, the list will rotate up, your issue is that the keyboard covers the search box.
I'm working on it.

[2021-10-12 14:33] Pavel-Ananich commented on #13
Now dropdown also moves, thanks!
![Снимок экрана 2021-10-12 в 17 28 37](https://user-images.githubusercontent.com/86955927/136975322-dcd2ea84-0715-4587-9dc1-9129ff45452f.png)

But one problem: when you click on item, it isn't selected. Only the keyboard closes:
![Снимок экрана 2021-10-12 в 17 30 13](https://user-images.githubusercontent.com/86955927/136975617-76039095-6b51-42db-88d0-8d07015037bc.p

[2021-10-12 19:27] piratechetan opened #14 "Add more functionality"
it's not a bug but I am using your package in my project u all did a great job just need to add onfocus(),onBlur(), methods so if user click on to dropdown then border color change

[2021-10-13 04:00] hoaphantn7604 commented on #14
Update done, Please install later version.

[2021-10-13 04:00] #14 closed

[2021-10-13 04:00] #13 closed, assigned to nobody

[2021-10-13 09:06] Pavel-Ananich commented on #13
![Снимок экрана 2021-10-13 в 12 06 17](https://user-images.githubusercontent.com/86955927/137102771-718123e0-a93a-4547-b317-830938b6c48b.png
![Снимок экрана 2021-10-13 в 12 06 41](https://user-images.githubusercontent.com/86955927/137102850-9a7fce59-bd83-4e91-aa61-171b82f887a5.png)
)

[2021-10-13 13:44] Pavel-Ananich commented on #13
latest version is 1.3.3?

And where I have to add LogBox.ignoreAllLogs(true)?

Import LogBox like Dropdown:
    import { Dropdown, LogBox } from 'react-native-element-dropdown'
or put into the component:
    <Dropdown
        LogBox.ignoreAllLogs={true}
    />
?

[2021-10-20 14:35] prajwalsadaphal opened #15 "EventEmitter.removeListener('change', ...)"
[code]

Getting above warning when I leave screen with dropdown

[2021-10-20 15:45] prajwalsadaphal commented on #15
I checked source code, under useDeviceOrientation file there is removeEventListener
[code]

[2021-10-20 17:21] #15 closed, assigned to nobody

[2021-10-21 09:04] trqvinh90 opened #16 "[Request] More customizable props"
Thanks for this great library, it helped me a lot when I am trying to implement a screen.
But it could be more convenient if we can add more customizable props. At this moment I want to style the search box inside the Dropdown ( placeholder & input style, custom search & close icon... ).
Hope to hear from you soon.

[2021-10-21 10:11] hoaphantn7604 commented on #16
Thank you!
I will add props for input search.

[2021-10-22 02:17] trqvinh90 commented on #16
Wow...thanks for quick response. I will check it right now

[2021-10-22 02:17] #16 closed

[2021-11-09 07:17] Master-gg-02 opened #17 "Require cycle: node_modules/react-native-element-dropdown/index.ts -> node_modules/react-native-element-dropdown/src/SelectCountry/index.tsx -> node_modules/react-native-element-dropdown/index.ts"
Require cycle: node_modules/react-native-element-dropdown/index.ts -> node_modules/react-native-element-dropdown/src/SelectCountry/index.tsx -> node_modules/react-native-element-dropdown/index.ts

node_modules/react-native-element-dropdown/src/SelectCountry/index.tsx
这个文件下的这句要注释掉,不然会导致循环引用
@hoaphantn7604
`
//import { Dropdown } from '../../index';
`

[2021-11-09 07:19] Master-gg-02 commented on #17
建议，引用Dropdown 文件下的文件，不建议直接引用根目录下的文件

[2021-11-10 07:59] hoaphantn7604 commented on #17
This error only happen when using source example?

[2021-11-12 19:57] PeterF-Gluxkind opened #18 "[Bug] value: 0 leads to placeholder in Dropdown"
If the `data` array contains first item with a `value` of `0`, selecting that first dropdown item would render the placeholder instead of the first item.

[code]
![Screen Shot 2021-11-12 at 11 55 34 AM](https://user-images.githubusercontent.com/89799454/141527049-331e1f50-4385-4b46-a7dd-67af2a510a57.png)

[2021-11-13 02:39] hoaphantn7604 commented on #18
Thank You!
I'm fixed, please install later version 1.4.7

[2021-11-13 02:39] #18 closed

[2021-11-15 04:43] #17 closed

[2021-11-19 07:36] MarianaOlimpia opened #19 "TypeError: null is not an object (evaluating 'ElementDropdown.getConstants')"
Hi, I am having this problem when I want to use it in my project
![Captura de pantalla 2021-11-19 004343](https://user-images.githubusercontent.com/60668720/142581350-eb3ee46a-10d8-42b8-b6d9-4b715fc23ffb.png)

[code]

It was running fine, but when I ran the app again, the error occurred.

[2021-11-19 07:47] hoaphantn7604 commented on #19
After install this package rebuild your app.

[2021-11-19 08:29] #19 closed

[2021-11-19 16:59] MarianaOlimpia commented on #19
still not working 😢

[2021-11-21 17:13] SohelIslamImran commented on #19
Same problem

[2021-11-21 17:15] SohelIslamImran commented on #19
@hoaphantn7604 Is this package can be used in an Expo project?

[2021-11-22 01:49] hoaphantn7604 commented on #19
Does not support Expo.
I will upgrade this package support for Expo.

[2021-11-22 03:05] hoaphantn7604 commented on #19
Please install later version 1.5.0 support for Expo.

[2021-11-22 05:44] h-assefi opened #20 "Open And Close Dropdown Programatically"
How to close or open dropdown from another event ?

[2021-11-22 07:10] hoaphantn7604 commented on #20
Please install later version 1.5.3.
<h4 dir="auto" style="box-sizing: border-box; margin-top: 24px; margin-bottom: 16px; font-size: 16px; font-weight: 600; line-height: 1.25; color: rgb(36, 41, 47); font-family: -apple-system, &quot;system-ui&quot;, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;; font-style: normal; font-variant-ligatu

[2021-11-22 11:34] #20 closed

[2021-11-23 14:24] maaliHasan opened #21 "How to set an auto height for the container list ?"
I'm not able to make the height of the container list fit its content?

[2021-11-23 15:21] hoaphantn7604 commented on #21
Use props "maxHeight": Customize height for container list

[2021-11-24 15:16] #21 closed

[2021-11-27 05:55] govindshah62 opened #22 "Invariant Violation: scrollToIndex out of range: requested index 101 is out of 0 to 36"
I am using a dropdown for the country data and it contains more than 150 data, without search, it is working fine but with search it is throwing error of " Invariant Violation: scrollToIndex out of range: requested index 101 is
out of 0 to 36 "

import { Dropdown } from 'react-native-element-dropdown';
import { ScrollView, Text, TextInput, View } from 'react-native';

return (
<View style={styles.

[2021-11-27 07:11] hoaphantn7604 commented on #22
I'm working on it.

[2021-11-27 07:48] hoaphantn7604 commented on #22
This issue has been resolved. Please install later version 1.5.4

[2021-11-27 08:05] govindshah62 commented on #22
yes now it's working, Thanks !!

[2021-11-29 05:59] h-assefi opened #23 "Failure in build.gradle"
FAILURE: Build completed with 2 failures.

1: Task failed with an exception.
-----------
* Where:
Build file 'F:\Test\node_modules\react-native-element-dropdown\android\build.gradle' line: 25

* What went wrong:
A problem occurred evaluating project ':react-native-element-dropdown'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log outpu

[2021-11-29 06:47] hoaphantn7604 commented on #23
Step 1: react-native unlink react-native-element-dropdown
Step 2: install later version
If you have any problem, please comment here.

[2021-11-29 16:18] govindshah62 commented on #22
now its again getting the same error if we use 2 dropdowns with search functionality

steps to reproduce:
1). The First dropdown is for country and 2 is for the state
2). Now first search in the country dropdown and then in state dropdown
3). Now if we again search in the country dropdown it throws the same error

[2021-11-29 23:55] hoaphantn7604 commented on #22
Thanks, I'm working on it.

[2021-11-29 23:56] hoaphantn7604 commented on #22
Can you give me sample code?

[2021-11-30 00:41] hoaphantn7604 commented on #22
I cannot reproduce this error. Please provided video.

[2021-11-30 01:48] hoaphantn7604 commented on #22
Please install version 1.5.5.
I'm not sure it worked.
You can try again and feedback for me

[2021-12-03 06:09] #23 closed

[2021-12-03 06:10] #22 closed

[2021-12-08 22:36] geoapostolidis opened #24 "min height"
How i can set min Height? because i have a list with 2 items and dropdown list is big

[2021-12-09 03:34] hoaphantn7604 commented on #24
Hi @geoapostolidis ,
You use props "containerStyle"
Ex:
<Dropdown
  containerStyle={{...}}
  ...
/>

[2021-12-10 08:30] anniewey opened #25 "Search input text style"
How to change font size and colour for search input text?

[2021-12-10 09:09] hoaphantn7604 commented on #25
hi @anniewey ,
Use inputSearchStyle props:
inputSearchStyle={{ fontSize: 14 }}

[2021-12-10 09:12] anniewey commented on #25
@hoaphantn7604 I have tried using this props earlier but it's not reflecting on the text, the style applied to the search view only.

[2021-12-12 02:57] hoaphantn7604 commented on #25
hi @anniewey ,
What version are you using?
Instal later version and try again

[2021-12-13 01:53] anniewey commented on #25
I'm using `"react-native-element-dropdown": "^1.4.6"`

[2021-12-13 03:18] hoaphantn7604 commented on #25
That version is old, please update version.

[2021-12-13 03:18] #25 closed

[2021-12-13 12:00] buscanopaul opened #26 "Label custom design"
Hi, Is it possible to change the design or layout of the label or result portion?

I already done i with list items. I want to style the result with the same design with the item list.

<img width="288" alt="Screen Shot 2021-12-13 at 7 56 45 PM" src="https://user-images.githubusercontent.com/17734014/145808225-6b482bbf-cc77-4e41-afbd-a8b28ae5d812.png">

Is It possible?

I found renderLeftIcon but

[2021-12-13 14:35] hoaphantn7604 commented on #26
hi @hoaphantn7604 ,
You can use this example:
https://github.com/hoaphantn7604/react-native-element-dropdown#selectcountry-example-1
[code]

[2021-12-13 14:38] buscanopaul commented on #26
Thank you @hoaphantn7604!

[2021-12-13 14:38] #26 closed

[2021-12-13 14:42] buscanopaul opened #27 "Opening dropdown with button"
Hi @hoaphantn7604,

How can I open the Dropdown list using TouchableOpacity outside Dropdown component? Thank you

[2021-12-13 14:57] hoaphantn7604 commented on #27
hi @buscanopaul ,
https://github.com/hoaphantn7604/react-native-element-dropdown#method

[2021-12-14 00:53] buscanopaul commented on #27
Hi @hoaphantn7604,

Do you a sample code on how that works? Thank you

[2021-12-14 01:28] hoaphantn7604 commented on #27
[code]

[2021-12-14 01:49] buscanopaul commented on #27
Thank you for the help @hoaphantn7604!

[2021-12-14 01:49] #27 closed

[2021-12-15 01:31] #24 closed

[2021-12-15 02:08] buscanopaul opened #28 "Add custom button below search input"
Hi @hoaphantn7604,

Is it possible that I can add button below search input field?

Below is the sample web design and I want it in react-native also. I want to add "add new customer button".
<img width="478" alt="Screen Shot 2021-12-15 at 10 03 49 AM" src="https://user-images.githubusercontent.com/17734014/146109851-b045ff90-3032-40ba-9b89-19d76eaef352.png">

Hoping for your response. Thank you

[2021-12-15 04:08] hoaphantn7604 commented on #28
hi @buscanopaul ,
Your request it same as Autocomplete.

[2021-12-17 17:20] matrahim opened #29 "How to reset dropdown"

[2021-12-17 18:11] #29 closed

[2021-12-23 19:47] safaiyeh opened #30 "Distribute commonJS Build"
Because the source is distributed with TS, type checking in CI will check every usage of the library and unfortunately cannot be ignored with normal tsconfigs

An example on how to distribute to commonJS https://github.com/callstack/react-native-builder-bob

[2021-12-24 07:51] akshy78695 opened #32 "Dropdown data doesn't update when open"
Hey @hoaphantn7604, first of all thanks for this great library.

  There is just one issue I'm facing is, Dropdown data doesn't get updated when dropdown is open (and data is empty),
and If dropdown data is updated (for e.g null => array) I have to close dropdown and open it to display data.

Here is the expo link: https://snack.expo.dev/@ak_expo/react-native-element-dropdown.

[2021-12-24 13:51] hoaphantn7604 commented on #32
I’m working on it

[2021-12-25 02:44] hoaphantn7604 commented on #32
hi @akshy78695 ,
I'm fixed, please install later version 1.5.6.

[2021-12-25 02:47] #28 closed

[2021-12-25 04:28] #32 closed

[2021-12-25 12:39] akshy78695 opened #33 "state value gets updated automatically (MultiSelect)"
Hey @hoaphantn7604 ,

State value gets updated without using any setState function in onChange ,
If I only print the stateValue in onChange function, It prints the updated value.

Here is expo (check logs) : https://snack.expo.dev/@ak_expo/react-native-element-dropdown

[2021-12-26 04:08] hoaphantn7604 commented on #33
hi @akshy78695
I'm working on it

[2021-12-27 07:10] manikandana2z opened #34 "Dropdown design issue"
Hi Team,

           I have found a small UI design issue in your plugin. The issue is in Dropdown. Please replace the view tag with fragment tag for _renderListTop() and _renderListBottom() in src ---> Dropdown ---> index.tsx and remove flex:1 in container from styles.ts. After doing this, the dropdown height is auto set to its items height.

Screenshots for reference:-
![Screenshot_1640088369](h

[2021-12-28 00:47] jte0711 opened #35 "[SelectCountry] Allow incoming renderItem and renderLeftIcon to override pre-set props"
Hi @hoaphantn7604 , good work on the dropdown!

I have a suggestion to let user to override `renderItem` and `renderLeftIcon` instead of using the default (current) component, this will let user to adjust the design of the component according to their needs.

This is what the `SelectCountry` do currently:

[code]

I'll connect this with the PR I made

[2021-12-28 05:35] hoaphantn7604 commented on #35
hi @jte0711 ,
You can use the Dropdown element to customize Country element

[2021-12-28 05:38] hoaphantn7604 commented on #34
hi @manikandana2z ,
Since it is not possible to determine exactly how many item the list has, you can use maxHeight to set the height

[2021-12-28 05:41] hoaphantn7604 commented on #35
hi @jte0711 ,
Country element is fixed design based on Dropdown element, if you want to customize a Country element you can use Dropdown element

[2021-12-28 05:43] jte0711 commented on #35
@hoaphantn7604 , oh ok thanks for the information

[2021-12-28 05:43] #35 closed

[2021-12-28 06:48] manikandana2z commented on #34
Hi @hoaphantn7604,

     Thanks for you response. I have gone through your plugin and I have came to know about the use of maxHeight to set the height. Let's assume that you have only two items in your list.  As per your code, the two item will render in dropdown and there will some extra spaces below the last item since you have set flex:1 in View tag. My suggestion is that if you remove the flex

[2021-12-28 06:56] hoaphantn7604 commented on #34
hi @manikandana2z ,
Thank you,
I will remove flex:1 and test again

[2022-01-03 01:02] hoaphantn7604 commented on #33
hi @akshy78695 ,
Sorry for the delay, but I wanted to let you know that this issue has been resolved.

[2022-01-03 01:12] hoaphantn7604 commented on #34
hi @manikandana2z ,
Sorry for the delay.
After removing flex:1 error arise.
![Simulator Screen Shot - iPhone 13 Pro Max - 2022-01-03 at 08 06 29](https://user-images.githubusercontent.com/50919571/147894106-0a9516e9-059e-4d08-b039-d37ac4a5c319.png)

[2022-01-03 05:36] akshy78695 commented on #33
hi @hoaphantn7604,

Thanks a lot for your work,

But I think the issue is still persist,
In following expo I'm printing state before updating, and updating state after a second,
first time works properly But at second time state value automatically updates before the running setState

**here is the example**: https://snack.expo.dev/@ak_expo/react-native-element-dropdown-1_5_7

[2022-01-03 07:29] hoaphantn7604 commented on #33
hi @akshy78695 ,
What version are you using?
I can't reproduce your issue

[2022-01-03 08:02] akshy78695 commented on #33
hi @hoaphantn7604,

I'm using version: 1.5.7,
To reproduce this issue, set following function to onChange
[code]

I'm printing state value before updating state, and updating state after a second,
but when dropdown changes second time, function is printing updated state value before even I update.

Expected behaviour:

* 1st element selected
    [] before update
    ['1'] after update

* 2nd eleme

[2022-01-08 03:46] hoaphantn7604 commented on #33
hi @akshy78695 ,
I can't reproduce your issue.
<img width="390" alt="Screen Shot 2022-01-08 at 10 43 54" src="https://user-images.githubusercontent.com/50919571/148630428-cab97c48-6b43-45e4-b881-2c41cbdd6e41.png">

[2022-01-08 03:55] #34 closed

[2022-01-08 05:25] hoaphantn7604 commented on #33
hi @akshy78695 ,
Please instal later version 1.5.8. I fixed a few things.

[2022-01-10 05:16] akshy78695 commented on #22
I'm also getting this error but only when I set predefine dropdown value, If dropdown value is empty it works perfectly.

react-native-element-version: 1.5.8
react: 17.0.2
react-native: 0.66.4

[2022-01-10 05:18] #33 closed

[2022-01-10 05:23] hoaphantn7604 commented on #22
hi @akshy78695 ,
I'm working on it.

[2022-01-10 08:54] hoaphantn7604 commented on #22
hi @akshy78695 ,
I can't reproduce your problem, but i have updated a few things hope it will work for you.
Please instal later version.

[2022-01-12 09:03] yudistiraAshadi opened #39 "Dropdown placed too far down"
Anyone having this issue? I can "fix" this by giving `containerStyle={{marginTop: -60}}`. I'm not sure why it happens.
![image](https://user-images.githubusercontent.com/18660006/149096949-844ba85d-6643-4d34-a7ee-f788c2ecf891.png)

[2022-01-12 10:06] hoaphantn7604 commented on #39
hi @yudistiraAshadi ,
How can i reproduce this problem

[2022-01-12 10:10] hoaphantn7604 commented on #39
Maybe this problem is related to status bar height.

[2022-01-12 11:50] buscanopaul opened #40 "Nested object value"
Hi @hoaphantn7604,

How can I get the value from nested object?

Here's my data it has name under metadata object
![Screen Shot 2022-01-12 at 7 40 49 PM](https://user-images.githubusercontent.com/17734014/149134915-9817449e-d93a-4e09-a3d4-4870e7b440a4.png)

Is it possible that I can get it and put it in labelField="metadata.name"?
![Screen Shot 2022-01-12 at 7 49 13 PM](https://user-images.githubu

[2022-01-13 00:48] hoaphantn7604 commented on #40
hi @buscanopaul ,
You can create function to format data

[2022-01-16 11:12] h-assefi opened #41 "Customizable LabelField"
It would be a privilege to have ability of customizing Label Field data and it wouldn't be only one filed to display
for example: I like to show the selected item like this,
"John Smith, 25, California"
{fullName, age, state}

[2022-01-17 01:59] hoaphantn7604 commented on #41
hi @h-assefi ,
You can use "renderItem" props. Takes an item from data and renders it into the list.

[2022-01-17 05:22] hoaphantn7604 commented on #41
You can create function to format data.

[2022-01-17 06:02] hoaphantn7604 commented on #39
hi @yudistiraAshadi ,
Fix this problem: StatusBar.setTranslucent(false)

[2022-01-17 06:02] #39 closed

[2022-01-17 06:55] hoaphantn7604 commented on #40
hi @buscanopaul ,
Please instal later version.
I've updated.

[2022-01-17 06:55] #40 closed

[2022-01-17 17:04] antonycms opened #42 "prop to onSearch"
would it be possible to add a prop for the function that filters the list (function onSearch in Dropdown component)?

[2022-01-17 17:54] #42 closed

[2022-01-26 05:26] h-assefi commented on #41
@hoaphantn7604 I have used "renderItem" for the dropdown items. But, what I need is when the item is selected.
Could you give an example about your second response.

[2022-01-26 05:34] hoaphantn7604 commented on #41
hi @h-assefi
Example code:
[code]

[2022-01-27 13:11] buscanopaul opened #45 "Pull to refresh items"
Hi @hoaphantn7604, Is it possible to implement pull to refresh or refreshControl in the dropdown items? Thank you

[2022-01-27 13:33] hoaphantn7604 commented on #45
hi @buscanopaul ,
You can use flatListProps.

[2022-01-29 06:37] h-assefi commented on #41
@hoaphantn7604 THNX for instant reply.

[2022-01-29 06:37] #41 closed

[2022-01-30 23:51] #45 closed

[2022-01-30 23:51] #30 closed

[2022-01-31 00:51] TheSilentHorizon opened #46 "Customize the modal style and create custom renderItem callback"
Is that possible?

1: I want round borders on the modal, is there a way to achieve that?
2: Can I do a custom renderItem callback ?

[2022-01-31 00:58] TheSilentHorizon opened #47 "Remove Space on FlatList when there are a small size of elements"
So I have three elements in my Dropdown, but it has way too much space.

![image](https://user-images.githubusercontent.com/29006783/151725670-4f06a691-24ea-441b-b02d-ed4388301575.png)

[2022-01-31 01:50] hoaphantn7604 commented on #46
hi @TheSilentHorizon ,
1: I want round borders on the modal, is there a way to achieve that? => Use "containerStyle" props
2: Can I do a custom renderItem callback ? => Use "renderItem" props

[2022-01-31 01:52] hoaphantn7604 commented on #47
hi @TheSilentHorizon ,
Use renderItem props customize item.

[2022-01-31 01:55] TheSilentHorizon commented on #46
but the listitem triggers a method on click - how can i call it from my renderItem?

[2022-01-31 01:56] TheSilentHorizon commented on #47
The space above the items is too high. i doubt that that is an issue of the renderItem.

[2022-01-31 02:30] hoaphantn7604 commented on #46
Don't wrap a touchble.

[2022-01-31 05:42] h-assefi commented on #45
Do you have any example of flatListProps ? @hoaphantn7604

[2022-02-04 15:14] heikki-john opened #48 "Should down arrow flip"
Should that down arrow  in right flip when dropdown is opened?

[2022-02-04 21:25] hoaphantn7604 commented on #48
Hi @heikki-john ,
Use renderRightIcon props

[2022-02-07 07:19] heikki-john commented on #48
Hi @hoaphantn7604,

Thanks, now got that working.

[2022-02-07 07:19] #48 closed

[2022-02-08 10:20] buscanopaul opened #49 "OnonEndReached and onEndReachedThreshold"
OnonEndReached and onEndReachedThreshold not working eitheir in Dropdown component or flatlistprops

[2022-02-10 06:30] govindshah62 commented on #22
hi @hoaphantn7604 now getting same error with different condition
steps to produce:-
1) Load a list of 250+ elements
2) now search last element and select it
3) now search for the 1st element and try to select it, it will throw error

[2022-02-10 07:06] hoaphantn7604 commented on #49
Hi @buscanopaul ,
Example code:

[code]

[2022-02-12 12:30] buscanopaul commented on #45
Hi @hoaphantn7604 , Up for this

[2022-02-12 12:42] buscanopaul opened #50 "FlatListProps"
Hi @hoaphantn7604, I'm not sure if I implemented the flatListProps correctly seems I can't receive the alert even if I change it to console.log. Please see below screenshot ![Screen Shot 2022-02-12 at 8 36 33 PM](https://user-images.githubusercontent.com/17734014/153711779-b2b11ce9-fced-4bb3-bc32-2454705b808e.png)

[2022-02-19 21:25] ivanmomchilov9 opened #51 "[Request] Recalculate dropdown position If using KeyboardAvoidingView"
Hi hoaphantn7604,

First of all - gread job with react-native-elemen-dropdown. I like the flexibility of the component and how it behaves.

I would like to ask you for small improvement. In my case I'm using the dropdown with custom search input in Modal with KeyboardAvoidingVIew. The problem is when the keyboard is opened, the KeyboardAvoidingView is changing the layout and the position of the dr

[2022-02-20 00:43] hoaphantn7604 commented on #51
hi @ivanmomchilov9 ,
Please provide example code how to reproduce your problem.

[2022-02-20 08:55] ivanmomchilov9 commented on #51
Hi @hoaphantn7604 ,

I created a quick expo snack for you - https://snack.expo.dev/@ivanzm/react-native-element-dropdown-with-keyboardavoidingview

Please, run it on real ios devices and see how it behaves :)

Best Regards,
Ivan

[2022-02-20 23:55] hoaphantn7604 commented on #51
hi @ivanmomchilov9 ,
I'm working on it.

[2022-02-21 07:12] RodSarhan commented on #51
was going to report the same issue, the component seems to misbehave inside scroll views
on android even when the keyboard is closed the container shows up in the wrong place sometimes.

I'll try to provide you with a code sample when possible.

[2022-02-21 14:21] ivanmomchilov9 commented on #51
@hoaphantn7604 thank you for your fast reply!

I just tested the new version and unfortunately it doesn't work in my project or in the expo snack example I attached above.
Would you please edit the snack above and show a working version? Maybe I'm doing something wrong.

Best Regards,
Ivan

[2022-02-21 16:15] hoaphantn7604 commented on #51
hi @ivanmomchilov9 ,

Try this code.

[code]

[2022-02-21 16:48] mahiruslu opened #52 "Dark mode"
Hello friend,
Firstly thank you for this repo.
I realized that we can't change styles of dropdown select item menu. See the image below. If there is a way doing this, can you explain to me
<img width="320" alt="Screen Shot 2022-02-21 at 19 44 48" src="https://user-images.githubusercontent.com/23373520/154997092-00f77672-65e3-4474-b079-22a5f53d068a.png">

[2022-02-22 12:18] hoaphantn7604 commented on #51
hi @ivanmomchilov9 ,
This issue is resolved. Please install later version 1.7.1.

[2022-02-22 13:33] ivanmomchilov9 commented on #51
Hi @hoaphantn7604 ,

I just tested 1.7.1 on real android and ios devices and this version works perfect!

I appreciate the quick fix and your commitment for react-native-element-dropdown! Thanks again!

Best Regards,
Ivan

[2022-02-22 13:33] #51 closed

[2022-02-24 06:34] hoaphantn7604 commented on #52
Hi @mahiruslu ,
Example code fix this issue:
containerStyle={{ backgroundColor: ‘black’ }}

[2022-02-25 05:20] mahiruslu commented on #52
This is works, thank you.

[2022-02-25 05:20] #52 closed

[2022-03-02 19:34] jmstart-up opened #53 "Errors in components"
Issue: When I am running code inspection there are several issues reported:

Errors:

node_modules/react-native-element-dropdown/src/Dropdown/index.tsx:363:7 - error TS2531: Object is possibly 'null'.

363       ref.current.measure((width, height, px, py, fx, fy) => {
[code]

node_modules/react-native-element-dropdown/src/useDeviceOrientation.ts:41:24 - error TS2339: Property 'remove' does not exi

[2022-03-03 03:23] hoaphantn7604 commented on #53
Hi @jmstart-up ,
I’m working on it.

[2022-03-03 03:25] hoaphantn7604 commented on #53
What is your RN version?

[2022-03-07 04:48] h-assefi opened #54 "When Searching Cannot read property 'indexOf' of undefined"
I have used Dropdown. When using search input box the error of Cannot read property 'indexOf' of undefined arises.

[2022-03-08 02:03] hoaphantn7604 commented on #54
Hi @h-assefi ,
Please provide example code.

[2022-03-08 05:06] h-assefi commented on #54
`<Dropdown
                data={data}
                labelField="name"
                valueField="id"
                search
                value={selectedData}
                searchPlaceholder='search'
                flatListProps={{
                  onEndReached: () => {
                    retrieveMore();
                  },
                  onEndReachedThreshold: 0.6,

[2022-03-08 17:05] ynzier commented on #54
Hi, In OnSearch Function > propSearchFunction > labelText got "unidentified" everytime.
I've try to change
`const dataSearch = data.filter(searchQuery ? propSearchFunction : defaultFilterFunction);` to
`const dataSearch = data.filter((o) =>
                  Object.keys(o).some((k) =>
                    String(o[k]).toLowerCase().includes(keyword.toLowerCase())
                  )

[2022-03-08 17:43] colinbes opened #55 "Multiselect, selected item location"
Any suggestions on how to place list of selected items in (on) the "select item" line where placeholder text is located (as with dropdown) instead of displaying them below?

[2022-03-08 23:35] hoaphantn7604 commented on #55
hi @colinbes ,
I'm working on it.

[2022-03-09 04:47] h-assefi commented on #54
@hoaphantn7604 What should I do ?

[2022-03-09 08:45] hoaphantn7604 commented on #54
Hi @h-assefi ,
I can't reproduce your problems.
Can you provide an example code on Expo?

[2022-03-09 11:11] h-assefi commented on #54
@hoaphantn7604 I don't know how to provide example code on Expo.
How can I do that ?

[2022-03-10 15:21] hoaphantn7604 commented on #55
hi @colinbes,
This issue is resolved.
Please install later version. Use "inside" props is true.
Code EX:
[code]
<img width="325" alt="Screen Shot 2022-03-10 at 22 18 08" src="https://user-images.githubusercontent.com/50919571/157693422-b231559b-37a1-4260-ba99-bac5d315b422.png">

[2022-03-10 19:40] colinbes commented on #55
Perfect - thanks so much! Looks good

Internet Disclaimer
_________________

This message (including any attachments) contains confidential information intended for a specific individual and purpose, and may be protected by law.
If you are not the intended recipient, you should delete this message and are hereby notified that any disclosure, copying, or distribution of this message, or the taking

[2022-03-10 20:03] colinbes commented on #55
Thanks for digging in, the solution is working well.

Question: It's not a train smash and I can work around it but any suggestions if my data is simply a list of strings, i.e., `data=['item1', 'item2]`

[2022-03-10 21:08] #55 closed

[2022-03-10 21:17] colinbes opened #56 "onChange"
In code examples for Multi-Select it is implied that onChanges passes an array of objects (based on item.value).

In my case it appears that onChange is supply object key denoted by `valueField`.

[code]

In typescript world (as example)

assuming data array is of type IndexedValue[]
where

[code]
then in my case I see onChange returning a string list and not IndexedValue list.

Can you please con

[2022-03-10 23:17] colinbes opened #57 "Changing righthand icon to show state of dropdown"
How do I know state of dropdown box open vs closed in order to set right hand icon.

I could track via onblur and onfocus but there may be better and safer way

[2022-03-10 23:38] hoaphantn7604 commented on #56
Hi @colinbes ,
onChange return item of list data.

[2022-03-10 23:40] hoaphantn7604 commented on #57
Hi @colinbes ,
Use onBlur and onFocus.

[2022-03-10 23:50] colinbes commented on #57
Thanks, that's what I have working.

For MultiSelect prop's onFocus and onBlur:
[code]

where I used react native' useRef `const outcomeFocus = useRef(false)` as I didn't want to trigger state change and rerender entire page and then for prop  renderRightIconI have
[code]

[2022-03-10 23:50] #57 closed

[2022-03-10 23:56] colinbes commented on #56
But what is 'data' in my case it's returning the value of the data element in the data list and not the data items.

For example in

[code]

This differs from what the examples show as you reference item.value in example

[2022-03-11 00:24] hoaphantn7604 commented on #56
Hi @colinbes ,
Dropdown return a Item of list.
Multiselect return a Array.

[2022-03-11 00:46] hoaphantn7604 commented on #56
For Multiselect the return value will be an array containing the "valueField".
[code]

[2022-03-11 01:48] colinbes commented on #56
Thanks for clarifying!

[2022-03-11 01:48] #56 closed

[2022-03-11 07:13] SmartArray commented on #53
This happens with Typescript `v4.6.2`

[2022-03-12 01:43] brianpebble opened #58 "Typescript errors."
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-element-dropdown@1.8.0` for the project I'm working on.

Typescript verification issues:
[code]

Added ref.current checks, and removed susbcription.remove if statement handling, since this will be undefined according to:
https://reactnative.dev/docs/d

[2022-03-16 00:52] hoaphantn7604 commented on #58
hi @brianpebble ,
This issue is resolved.

[2022-03-16 00:55] hoaphantn7604 commented on #54
hi @h-assefi ,
Same Ex: https://snack.expo.dev/@ivanzm/react-native-element-dropdown-with-keyboardavoidingview

[2022-03-17 01:49] PacificSIlent opened #59 "Avoid select option"
how to avoid select a option within list? for make a custom click event, i want do the opcion dont appear in the label of the dropdown

[2022-03-18 15:12] colinbes opened #60 "React state update on an unmounted component on screen orientation change"
Using version 1.8.1 in expo environment on macos.

If I show Modal component with a MultiSelect component and then close the Modal component a change in screen orientation (tested on ios simulator) I get a error message on update on unmounted component.

This is my first react native (and react project) so I am not qualified to give best solution but warning is generated when calling `setOrientati

[2022-03-19 12:01] hoaphantn7604 commented on #59
hi @PacificSIlent ,
You can use renderItem props.

[2022-03-19 12:01] hoaphantn7604 commented on #60
hi @colinbes ,
I'm working on it.

[2022-03-21 17:32] PacificSIlent commented on #59
ok, but after select the custom item with the renderItem, the input's label change to another item from the list, and that is the problem

[2022-03-22 09:49] hoaphantn7604 commented on #59
hi @PacificSIlent ,
Can you send input data, I will make you an example.

[2022-03-22 11:32] kornatzky opened #61 "How do you reset the dropdown?"
Was not able to figure out from the docs.

[2022-03-22 11:59] hoaphantn7604 commented on #61
Hi @kornatzky ,
Set value is null.

[2022-03-22 12:11] #61 closed

[2022-03-22 12:16] kornatzky opened #62 "How can you style the chevron?"
I tried placing Tailwind classes in all possible style props. Nothing has any effect.

[2022-03-24 00:50] hoaphantn7604 commented on #59
hi @PacificSIlent ,
Code Ex:
[code]

[2022-03-24 00:57] #46 closed

[2022-03-24 00:58] #47 closed

[2022-03-24 00:58] #50 closed

[2022-03-24 00:59] #53 closed

[2022-03-24 00:59] #58 closed

[2022-03-25 11:03] abhinav0031 opened #64 "dropdown is taking the complete screen sometimes even when maxHeight is set to a small number."
Everything works fine but sometimes dropdown container just take complete screen's height from top.

[2022-03-25 11:19] abhinav0031 commented on #64
steps to reproducte:
1. open your app on web.
2.  navigation to a screen where you are using dropdown.
3. Minimize the screen such that dropdown doesn't have enought space below it and now refresh.
4. After refreshing maximize the screen and the dropdown will take complete screen's height.

[2022-03-26 05:53] h-assefi commented on #54
I found the problem. It was because of the LabelField data that I was passing. One of them was NULL.

[2022-03-26 05:53] #54 closed

[2022-03-26 07:03] hoaphantn7604 commented on #64
hi @abhinav0031 ,
How do i reproduce this problem on mobile device.

[2022-03-26 07:21] hoaphantn7604 commented on #60
hi @colinbes ,
I can't reproduce your issue.
Please try again with a later version 1.8.4.
Let me know if the problem persists with you.

![Simulator Screen Recording - iPhone 13 Pro Max - 2022-03-26 at 14 18 15](https://user-images.githubusercontent.com/50919571/160229307-7fe097cc-405f-4ec9-bd52-e687a5ca9478.gif)

[2022-03-26 07:22] #59 closed

[2022-03-26 07:24] hoaphantn7604 commented on #62
hi @kornatzky ,
You can use StyleSheet in React native

[2022-03-26 08:29] kornatzky commented on #62
Got it. Thanks.

[2022-03-26 08:29] #62 closed

[2022-03-26 15:04] colinbes commented on #60
I have confirmed that 1.8.4 is still giving the warning. Simply opening the Modal (from react-native) that contains dropdown and then closing it and then rotating screen gives error message (this is using expo and with iOS simulator).  Something is bust with my android setup so am busy installing and will let you know if it works on or not on Android simulator.

I will setup test project to share

[2022-03-26 15:25] colinbes commented on #60
I get same error when using android emulator

[code]

[2022-03-28 09:55] abhinav0031 commented on #64
No this issue doesn't exist in mobile devices, will try to explain. What's happening is that for example when we switch to landscape mode on mobile device and dropdown doesn't have enough space, so it takes complete height of the screen and starts from the top, but when we switch back to portrait mode it behaves fine and doesn't take full screen. But in web it keeps taking full screen from top eve

[2022-03-28 11:08] colinbes commented on #60
Here's link to Github repo which shows the warning on rotating screen https://github.com/colinbes/react-dropdown-test.

Tests run on macOS using both IOS and Android simulators.

Details in readme.md

[2022-03-30 06:53] hoaphantn7604 commented on #64
hi @abhinav0031 ,
I have never tried this pack on the website before.

[2022-03-30 09:14] TommysG opened #65 "[MultiSelect] Encountered two children with the same key"
When i use the MultiSelect component and i select multiple items withe the same **labelfield**, but with a different **valuefield**, i get this warning _Encountered two children with the same key_ 'Name of label field'.

I think the problem is, that you have set the labelfield as a key, instead of valuefield inside the renderSelectedItems.

[2022-03-30 20:35] colinbes commented on #60
Let me know if there is anyway I can assist.

[2022-03-30 20:38] hoaphantn7604 commented on #60
Hi @colinbes ,
There are quite a few tickets I'm trying to process these days.

[2022-03-30 21:32] colinbes commented on #60
Fully understood. I am running 1.8.4 with patch I mention so it's not holding me back for now.

[2022-03-31 02:11] hoaphantn7604 commented on #60
hi @colinbes ,
This issue is resolved. Please install later version 1.8.5

[2022-03-31 02:25] hoaphantn7604 commented on #64
hi @abhinav0031 ,
Please try again with version 1.8.5.

[2022-03-31 07:50] daddisapisero opened #66 "[MultiSelect]Can I limit the number of multiple selections?"
There is a requirement in my project that only 2 businesses can be selected at most. Is there any parameter to realize this function?

[2022-03-31 13:52] #60 closed

[2022-03-31 13:53] colinbes commented on #60
Perfect, I confirm it works - thanks!!

[2022-04-01 03:02] yy412715118 opened #67 "[Bug]Invariant Violation: scrollToIndex out of range: requested index 170 is out of 0 to 6"
https://user-images.githubusercontent.com/17873134/161186439-40c18fa0-2d0c-4880-9eaa-5b2035cae713.mp4

Hi @hoaphantn7604, This is a useful component, thanks for sharing this, but I found a bug.
Component version: 1.8.5.
Simulator: iPhone13, iOS 15.2
Code:
<Dropdown
                data={phoneList}
                labelField="label"
                valueField="value"
                style={styles.p

[2022-04-01 05:52] abhinav0031 commented on #64
no, didn't work still same issue.

[2022-04-01 08:52] yy412715118 opened #68 "[BugForMultiSelect]Drop down list rendering bug"
https://user-images.githubusercontent.com/17873134/161226429-bb9ad0e1-4e35-4a4a-8ee@hoaphantn7604 -a6950bf79fa3.mp4

Hi @hoaphantn7604 , I found other bug for MultiSelect, When the data list is requested from the network, there will be strange bugs in the rendering of MultiSelect. I have attached the video and code.

Component version: 1.8.5

Code:

import React, { useEffect, useState } from 'reac

[2022-04-03 04:35] hoaphantn7604 commented on #66
hi @daddisapisero ,
This issue is resolved. Please install later version.
Use "maxSelect" props.

[2022-04-03 04:36] hoaphantn7604 commented on #67
hi @yy412715118 ,
I'm working on it.

[2022-04-03 04:46] hoaphantn7604 commented on #65
hi @TommysG ,
Maybe your data has duplicate id.

[2022-04-03 07:21] hoaphantn7604 commented on #68
hi @yy412715118 ,
Please check again with a newer version 1.8.7.

[2022-04-03 07:22] hoaphantn7604 commented on #67
hi @yy412715118 ,
Please check again with a newer version 1.8.7.

[2022-04-03 07:24] TommysG commented on #65
Yes I have data with duplicate labelField. But should label be unique or only value?

[2022-04-04 15:44] 31coelho opened #69 "Container Styling"
Im getting space between the dropdown button and container. I already tried to remove bottom padding on dropdown component

[2022-04-05 09:51] yy412715118 commented on #67
It's worked. thanks.

[2022-04-05 09:52] yy412715118 commented on #68
It's worked.  thanks.

[2022-04-05 21:21] waldenermonteiro opened #70 "Removing inverted props in Top Select or creating a inverted props."
My suggestion is to remove the inverted property from the flatlist, or create an inverted property and when dropdownPosition is top, the user can choose between inverted true or false.

[2022-04-06 02:05] #68 closed

[2022-04-06 02:06] #66 closed

[2022-04-06 02:06] #67 closed

[2022-04-07 05:44] yy412715118 opened #71 "[Bug]Invariant Violation: scrollToIndex out of range: requested index 170 is out of 0 to 3"
Version: 1.8.7
Hi @hoaphantn7604 , Look like this issue still exists.

https://user-images.githubusercontent.com/17873134/162128552-8936593a-d55d-4d08-bd9e-ca115a7d735d.mp4

This is my test code:

import {
    ScrollView,
    StyleSheet,
    View,
    KeyboardAvoidingView,
    Platform,
    ActivityIndicator,
  } from "react-native";
  import { observer } from "mobx-react-lite";
  import React, {

[2022-04-11 13:11] Avinashreddy777 opened #72 "Search bar issue"

[2022-04-12 07:28] hoaphantn7604 commented on #71
Hi @yy412715118 ,
autoScroll=false,
Temporarily fix the problem.

[2022-04-14 11:10] hoaphantn7604 commented on #72
Hi @Avinashreddy777 ,
Can you describe the issue?

[2022-04-14 11:44] chinmay4github1987 opened #73 "Dropdown is not closing on hardware back button press"
Hardware back button is not functional when Dropdown is opened.

[2022-04-14 13:28] hoaphantn7604 commented on #73
Hi @chinmay4github1987 ,
I’m working on it.

[2022-04-14 14:59] hoaphantn7604 commented on #73
hi @chinmay4github1987 ,
This issue is resolved.

[2022-04-14 19:26] chinmay4github1987 commented on #73
How to achieve this?

On Thu, 14 Apr 2022, 8:30 pm Hoà Phan, ***@***.***> wrote:

[2022-04-14 19:31] chinmay4github1987 commented on #73
Again I have to reinstall the package?

On Fri, 15 Apr 2022, 12:56 am Chinmay Moharana, <
***@***.***> wrote:

[2022-04-15 06:28] hoaphantn7604 commented on #73
Hi @chinmay4github1987 ,
Reinstall this package

[2022-04-15 08:07] yy412715118 commented on #71
I tried, but still crash.

[2022-04-22 16:03] #73 closed

[2022-04-22 16:04] #72 closed

[2022-04-24 08:25] SmartArray opened #74 "Unused '@ts-expect-error' directive"
We get the following `tsc` errors.

[code]

https://github.com/hoaphantn7604/react-native-element-dropdown/blob/7949771f92088fea60495bd0dac7af55950ea49c/src/useDeviceOrientation.ts#L27-L35

Any ideas what is causing that?

[2022-04-24 09:05] hoaphantn7604 commented on #74
hi @SmartArray ,

Try upgrading devDependencies.

[code]

[2022-04-28 05:37] midhungopipk opened #75 "Can any one please help me how to set minHeight to dropdown?"
I am only able to set maxHeight. if i have only one or two element in the dropdown list the height of the dropdown list should be responsive. currently i can see a lot of white space if there are few elements. any can help me?

[2022-04-28 09:52] #75 closed

[2022-05-04 11:21] SmartArray commented on #74
Thanks for your response.

My devDependencies are up to date.

Looking at line 27, why would my project throw an error when it's using React Native 0.67 for instance?

[2022-05-11 12:03] johnny-mcfadden-dailypay opened #76 "[Question]: Is there any way to add accessibility hints to the dropdown items?"
I have a state dropdown list with values:

[code]

Is there any way to add accessibility hints for these? When use android talkback, it tries to read the label and its hard to know what the value is. I guess we could just use the full name for the label but checking in here first 🤞

[2022-05-13 06:46] hoaphantn7604 commented on #76
hi @johnny-mcfadden-dailypay ,
I think "label" should have the same value as "value".
[code]

[2022-05-16 16:19] nospipi opened #77 "[Question] Too much space at the bottom of the list"
<img width="157" alt="Screenshot 2022-05-16 at 20 33 40" src="https://user-images.githubusercontent.com/62842853/168650404-87557b3d-e400-4187-935e-cb2b4da77961.png">

Do you know why i'm getting so much space at the bottom of the list ?
Is there a way for the height to be as much as the content of the list ? I have set max height to 400 and it takes it all,even though the items take less space

Th

[2022-05-17 08:24] hoaphantn7604 commented on #77
Hi @nospipi ,
Are you using containerStyle it will override the css.

[2022-05-17 08:27] nospipi commented on #77
hi,no i'm not using the containerStyle prop,forked your project now,,i'm trying to dive into the code to see whats causing it,if you have any ideas let me know

[2022-05-17 09:46] nospipi commented on #77
Solved it by removing `flex:1` in your `_renderListBottom` function container view,as well the same in your Dropdown `styles.container`,changes can be seen in my fork.

[2022-05-17 11:23] ranYaar opened #78 "on Android there is an unwanted gap between dropdown and items container"
![image](https://user-images.githubusercontent.com/101973832/168799793-0b15a8a1-707a-4694-ae56-955e4f1c2049.png)

[2022-05-17 14:57] hoaphantn7604 commented on #78
hi @ranYaar ,
StatusBar.setTranslucent(false) fixes this problem.

[2022-05-17 15:04] hoaphantn7604 commented on #77
hi @nospipi ,
How can I reproduce this problem?

[2022-05-17 16:23] nospipi commented on #77
here : https://snack.expo.dev/@nospipi/react-native-elements-dropdown

[2022-05-17 17:19] nospipi commented on #77
@hoaphantn7604 i fixed the issue by changing your src/Dropdown/styles.ts **styles.container** `flex:1` to `flexShrink:1`
Also i have added a new `shouldChangePlaceholder` boolean prop,where someone can specify if they want the placeholder text to change with the `onChange` event or not.
Check it out and feel free to suggest different prop naming !

[2022-05-17 21:02] nospipi commented on #77
@hoaphantn7604
i fixed the issue by changing your src/Dropdown/styles.ts styles.container flex:1 to flexShrink:1 as well as the _renderListBottom component in your index.tsx of the same directory.

Also i have added a new shouldChangePlaceholder boolean prop,where someone can specify if they want the placeholder text to change with the onChange event or not.

Check it out in my fork and feel free

[2022-05-18 16:13] hoaphantn7604 commented on #77
@nospipi
Great!, I changed flex:1 to flexShrink:1

[2022-05-18 17:49] sagarkbluebenz opened #79 "Want to add custom item if search not found"
Hi im rendering a list .. if user search the list and he doesn't find the item.. then he can add that custom item.. is it possible?

[2022-05-19 02:40] sagarkbluebenz opened #80 "I want the user able to add the searched item if search not found..."
user searching for a result..
is not getting what he is looking for..
then he can add searched custom item ....

[2022-05-19 12:54] valeriik opened #81 "After wrapping component via React.forwardRef dropdown content is not showing"
When I wrap  'react-native-element-dropdown' with using React.forwardRef - content is not showing

![image](https://user-images.githubusercontent.com/24571089/169296664-80cba258-ce1f-461d-a530-63b8127de3a7.png)

Code example:
[code]

and just after I replaced
`export default React.forwardRef(Dropdown)`
with
`export default Dropdown`

then all works as expected - content is seeable:

![image](https

[2022-05-20 12:42] muazazhar opened #82 "Unable to open dropdown on click on custom button"
I have a button and i want to open dropdown every time user clicks on it. I only want to show when button is pressed but i get this error `Dropdown.open() is not a function`

[2022-05-24 15:08] hoaphantn7604 commented on #80
hi @sagarkbluebenz ,
Please refer code example:
[code]

[2022-05-24 15:14] hoaphantn7604 commented on #82
hi @muazazhar ,
Please refer code example:
[code]

[2022-05-24 15:15] hoaphantn7604 commented on #81
hi @valeriik ,
Please refer code example:
[code]

[2022-05-24 15:44] valeriik commented on #81
Thanks but your code example does not contain `React.forwardRef` functionality.

If you change
`const DropdownComponent = () => {`
to
`const DropdownComponent = (props, ref) => {`

and
`export default DropdownComponent;`
to
`export default React.forwardRef(DropdownComponent);`

**I suppose content will be unseeable.**

The point is `ref` to `DropdownComponent` should be accessible somewhere outsid

[2022-05-25 05:44] sagarkbluebenz commented on #79
Still Cannot add. Only showing List is empty...

[2022-05-25 06:31] markymc opened #83 "Setting testID for e2e testing"
Hi there, thanks a lot for this great component.

I was wondering if you're planning to include support for setting `testID`'s some time? I need this for my Cypress e2e tests.

Also just in case you weren't aware, this component seems to work great on web too using React Native Web!

[2022-05-25 14:28] lucaskab opened #84 "Dropdown view coming from the right of screen"
Hi, I implemented the component in my app but when I click for the first time to open the dropdown, the dropdown come from the right of the screen, and this bug only occurs in the first click, when you close the dropdown and open it again, it works completely fine, what should I do?

[2022-05-31 10:34] devpascoe commented on #74
Hey there, also facing this issue.

[2022-05-31 11:03] devpascoe commented on #74
Do you think we need "// @ts-expect-error" on these lines mentioned above in useDeviceOrientation.ts ?

[2022-05-31 15:30] hoaphantn7604 commented on #83
hi @markymc ,
testID implemented in version 1.8.12.

[2022-05-31 15:31] hoaphantn7604 commented on #84
hi @lucaskab ,
I haven't had this problem yet.
Can you send code example?

[2022-05-31 20:44] KovalovIE opened #86 "Problem opening the keyboard on android"
Hi!
If the input to search is under the keyboard, it stops opening after one time or if we close the dropdown.
If the search input is outside the keyboard area, everything works correctly.
Video and code attached (I use your example and added some views).

Also, if there is not enough space to the bottom of the screen for maxHeight, the dropdown does not open

react-native - "0.68.1"
react-native-

[2022-06-01 04:15] lamlengend98 opened #87 "screen is scrolled to top when keyboard is dismissed"
I have a problem when wrap Dropdown in a KeyboardAwareScrollView
i focus on search input and when dismiss keyboard, screens is scrolled to top

[code]

[code]

[2022-06-02 08:24] vikramkaldoke commented on #84
Yes! I found same issue.

[2022-06-05 11:44] julekgwa opened #88 "Can't style the selected item component"
The selected item component can't be styled when using the Dropdown,  there's selectedStyle  prop for multiselect but it isn't passed to the Dropdown component.

![Screenshot_20220605-133616](https://user-images.githubusercontent.com/5516477/172048836-ebe441bb-7af0-4661-b3e4-65081a117893.png)

[2022-06-09 09:39] lakhwinderdebut commented on #88
I have the same issue, but in my case I can't style anything except the border

<Dropdown
        data={users}
        style={styles.dropdown}
        placeholderStyle={styles.placeholderStyle}
        selectedTextStyle={styles.selectedTextStyle}
        inputSearchStyle={styles.inputSearchStyle}
        iconStyle={styles.iconStyle}
        maxHeight={300}
        labelField="label"
        valueF

[2022-06-10 19:04] jcerone-boom commented on #74
An alternative way around this is to change just that file and track the change via git. Then, when you `yarn install` the package, you can use a `post install` script to update the file to fix it.

Here's what I did:

1. Add the file in question to `git` via: `git add node_modules/react-native-element-dropdown/src/useDeviceOrientation.ts -f`
2. Remove the comments and push up the change
3. Pin my

[2022-06-12 13:39] KolosPalaz opened #89 "Problem with strange margin"
Why present this strange margin? Versions, code and screenshot below

[code]

![image](https://user-images.githubusercontent.com/107355341/173235852-ce523792-126c-4871-8fcf-61ff0c5a16f8.png)

[code]

[2022-06-12 15:05] hoaphantn7604 commented on #89
hi @KolosPalaz ,
Please install later version 2.0.0.
Use props statusBarIsTranslucent={true}.

[2022-06-12 15:08] hoaphantn7604 commented on #88
hi @julekgwa , @lakhwinderdebut ,
Pease install later version 2.0.0.
Use the "renderItem" props to customize the item.

[2022-06-12 15:08] #87 closed

[2022-06-12 15:11] hoaphantn7604 commented on #86
hi @KovalovIE ,
Please instal later version 2.0.0.

[2022-06-12 15:12] hoaphantn7604 commented on #83
hi @markymc ,
I have updated in the latest version 2.0.0.

[2022-06-12 16:21] KolosPalaz commented on #89
@hoaphantn7604 Woks nice thx, closing

[2022-06-12 16:21] #89 closed

[2022-06-13 01:46] hoaphantn7604 commented on #74
Hi,
@ts-expect-err has been removed in version 2.0.

[2022-06-13 12:44] navarroaxel opened #91 "This repo should have a changelog"
It's really hard to track changes on this package based on the Git history.

Could you please include changes in the GitHub [Releases page](https://github.com/hoaphantn7604/react-native-element-dropdown/releases)? or add a `CHANGELOG.md` file to this repository?

[2022-06-14 02:56] hoaphantn7604 commented on #74
Hi @jcerone-boom ,
Version 2.0.0 has been release.

[2022-06-14 16:29] hoaphantn7604 commented on #91
Hi @navarroaxel ,
I will add the release notes in the next release.

[2022-06-16 13:20] chinmay4github1987 opened #92 "MultiSelect Dropdown after selecting the items not close on clicking outside or sliding up Dropdown in closing"
MultiSelect Dropdown after selecting the items not close on clicking outside or sliding up dropdown in closing making the app not user-friendly. Can you check if multi items also get selected in the Text Input field it should automatically show a number of items gets selected?

[2022-06-16 21:18] newyorksoul opened #93 "Selected Item is above the drop down container"
It's more obvious on scroll when the border radius is rounded and the selected item is squared up

![image](https://user-images.githubusercontent.com/45617091/174165802-c8024589-660c-4c28-bde8-43288be64b3a.png)

[2022-06-18 07:59] hoaphantn7604 commented on #93
Hi @newyorksoul ,
Use containerStyle set paddingBottom.

[2022-06-18 08:02] hoaphantn7604 commented on #92
Hi @chinmay4github1987 ,
Can you send a short video?

[2022-06-20 12:21] sagarkbluebenz commented on #78
but where to use it

[2022-06-23 10:52] hoaphantn7604 commented on #78
Hi @FSV92 ,
Use statusBarIsTranslucent=true in Dropdown props.

[2022-06-24 06:49] pharmgarant commented on #78
do you need to use a StatusBar.setTranslucent(false) at the same time?

[2022-06-24 06:50] FSV92 commented on #78
do you need to use a StatusBar.setTranslucent(false) at the same time?

[2022-06-24 15:52] hoaphantn7604 commented on #78
Just set statusBarIsTranslucent=true

[2022-06-27 09:45] shudanshus198 opened #94 "How to update the UI when the value is changed."
I wants to update the UI if the setValue is called. But the UI is not updating...

[2022-06-27 12:27] fmording commented on #78
I found that when statusbar is not translucent, then i need to set it to false. If not, the gap appears on those dropdowns. So, for me at least, I had to make the prop true only in some usecases.

[2022-06-29 01:22] FSV92 commented on #78
Hi, everyone!
The problem has been solved! Right statusBarIsTranslucent=**{**true**}**

[2022-06-29 10:33] Gyanprakash73 commented on #88
use this :--

activeColor={'red'}

[2022-07-04 07:23] mathisschmidt opened #95 "Default value don't work"
Hi,
I want to use à default value for a dropdown but it is print good only if I open dropdown. I put my code in this message just I delete some part because is not nescesary for this problem and it is private (for my enterprise)

[code]

[2022-07-04 10:49] mathisschmidt commented on #11
Hi, it is possible to know how you do that ?

[2022-07-06 11:46] hoaphantn7604 commented on #95
Hi @mathisschmidt ,
I’m working on it.

[2022-07-11 07:25] hoaphantn7604 commented on #95
Hi @mathisschmidt ,
I have read your code, it seems the problem is not related to this package, the problem here is because your code is asynchronous.
useState set value before the api is called

[2022-07-11 07:38] hoaphantn7604 commented on #94
Hi @shudanshus198 ,
This issue cannot reproduce.

[2022-07-13 09:20] ydv0121 opened #96 "Should return index in onChange"
Hello
Thanks for the perfect DropDown.

I think the DropDown's `onChange` function should return the `index` value too `onChange={(item,index)=>{}}`

[2022-07-14 07:56] Kishan-Somaiya opened #97 "Default Value doesn't work"
First off all, thanks for an amazing package,
Default value doesn't work even if we set it and if we use setValue in onChange it only updates the value on alternate clicks. I'm on the current version 2.0.0.

[2022-07-14 13:48] sedhurabe commented on #95
I have the same issue default value is not setting. any update on this @hoaphantn7604

[2022-07-15 05:49] Kishan-Somaiya commented on #97
Here's the code :

` import React, { useState } from 'react';
const data = [
    { label: 'Item 1', value: '1' },
    { label: 'Item 2', value: '2' },
    { label: 'Item 3', value: '3' },
    { label: 'Item 4', value: '4' },
    { label: 'Item 5', value: '5' },
    { label: 'Item 6', value: '6' },
    { label: 'Item 7', value: '7' },
    { label: 'Item 8', value: '8' },
  ];
const DropdownComponen

[2022-07-21 06:57] pravinsphinx commented on #95
Facing same issue. Please update @hoaphantn7604

[2022-07-21 11:39] KolosPalaz opened #98 "Idea: create changelog"
Maybe should create a small changelog with bug fixes? It would be helpful and less number of issues

[2022-07-25 12:37] Sirojiddin96 commented on #84
Yeah, I have the same problem as well
Can you help me to solve this problem?
@hoaphantn7604
thank you

![Simulator Screen Shot - iPhone 12 - 2022-07-25 at 21 35 07](https://user-images.githubusercontent.com/26593134/180778795-704a9152-5134-4277-9636-dc745c33e8d8.png)
.

[2022-07-26 06:58] hoaphantn7604 commented on #84
Hi @Sirojiddin96 ,
Can you send full code example?

[2022-07-26 08:13] hoaphantn7604 commented on #97
hi @Kishan-Somaiya ,
Refer code: const [value, setValueDrop] = useState('8').
Default value is not a label.

[2022-07-26 08:19] hoaphantn7604 commented on #95
hi All,
Please try with later version (2.1.0).

[2022-07-26 08:28] hoaphantn7604 commented on #96
hi @ydv0121 ,
You can filter the data list to find the index.

[2022-08-01 18:52] nickwelp opened #99 "Passing in Accessibility Label Props"
Thanks for this awesome package!
React-Native views and texts support accessibility roles; https://reactnative.dev/docs/accessibility

I would like to be able to pass in some Accessibility props and have them arrive on the TouchableWithoutFeedback  as well as pass accessibility props as part of the element objects array so the TouchableOpacity in _renderItems also is capable of representing access

[2022-08-03 16:24] abhisekmallik opened #100 "Keyboard issue on search"
- On search if the item is clicked on the menu when the keyboard is showing on iOS it only dismisses the keyboard but does not hide the open menu.
- Also when applied in Keyboard Scrollview the field scrolls up when keyboard is open and menu opens from under the field, but when the keyboard is dismissed, the menu stays in the opened position and the field scrolls down to the actual position which

[2022-08-03 23:31] rcaraway101 commented on #97
[code]

[2022-08-08 04:51] hoaphantn7604 commented on #100
hi @abhisekmallik ,
I'm working on it.

[2022-08-08 10:26] Kishan-Somaiya commented on #97
Thanks @rcaraway101 for formatting the code and sorry @hoaphantn7604, the issue was on my side. Closing this issue now.

[2022-08-08 10:30] #97 closed

[2022-08-15 07:37] lamlengend98 commented on #87
yes i have, but can't fix it. I have set keyboardShouldPersistTaps={'never'} and it fixed a bit, but UX will be worse, because user must click 2 times to change the option. Hope you have workaround!!

[2022-08-20 15:44] #95 closed

[2022-08-20 15:45] #96 closed

[2022-08-20 15:45] #94 closed

[2022-08-20 15:45] #93 closed

[2022-08-20 15:47] #83 closed

[2022-08-20 15:49] #86 closed

[2022-08-20 15:49] #92 closed

[2022-08-20 15:51] #74 closed

[2022-08-20 15:51] #76 closed

[2022-08-20 15:51] #77 closed

[2022-08-20 15:52] #80 closed

[2022-08-20 15:53] #82 closed

[2022-08-20 15:54] #91 closed

[2022-08-20 15:54] #98 closed

[2022-08-27 18:03] A-Barkho commented on #71
I have the same Problem.

[2022-08-27 23:47] waldenermonteiro commented on #83
Hello.

Do you have examples using testID ? I couldn't use it

[2022-08-29 00:32] finalight opened #101 "Don't reverse the order of the dropdown options"
![IMG_8026](https://user-images.githubusercontent.com/4475526/187101824-8e51b460-d727-44c7-ba58-196e1db66b0b.png)

is it possible not to reverse the order of the options whenver the options appears at the top of the dropdown select?

[2022-08-29 02:09] hoaphantn7604 commented on #101
hi @finalight ,
Refer this example:
[code]

[2022-08-30 14:44] liptonzuma opened #103 "Local image for select country crashes the app"
Warning: Failed prop type: Invalid prop `source` supplied to `Image`, expected one of type [string, number]
I get this error when I try using local image

[2022-09-06 02:43] hoaphantn7604 commented on #103
hi @liptonzuma ,
Refer this example:
[code]

[2022-09-06 07:41] vinay-sayone commented on #41
@hoaphantn7604 Is there way to customize the label Text both style wise and component wise ?

[2022-09-07 08:14] markosrx opened #104 "Different size of the containers?"
Is it possible to achieve the size and position of container view(red color in image) and container list(yellow color in image) be different, not aligned? Thanks.
![Screenshot 2022-09-07 at 10 12 09](https://user-images.githubusercontent.com/24739932/188826509-f50ced23-e911-4784-b707-e78deb5e0b0a.png)
![Screenshot 2022-09-07 at 11 27 51](https://user-images.githubusercontent.com/24739932/188843692

[2022-09-07 15:09] SitrucL opened #105 "alwaysRenderItemSelected prop not taking effect"
Hi, I'm loving this library but it seems as though the `alwaysRenderItemSelected` prop isnt taking effect when set to `false`. Based on the description within the ReadMe, I expect the selected items to no longer appear underneath.  Below is my implementation and a screenshot of the result.

[code]

![image](https://user-images.githubusercontent.com/52332474/188913486-d4ac4260-5aa0-4c4e-8080-0c6f96

[2022-09-07 20:37] Audrey-Ann commented on #101
@hoaphantn7604 I tried and it's not working unfortunately

[2022-09-07 20:40] Audrey-Ann commented on #78
Hi! When `search` is **true** and the **focus** is on the search input, then the gap reappears even with `statusBarIsTranslucent = true` :/

[2022-09-08 01:54] hoaphantn7604 commented on #104
hi @markosrx ,
You can use props "renderItem" to customizable.

[2022-09-08 01:55] #103 closed

[2022-09-08 01:57] hoaphantn7604 commented on #101
hi @Audrey-Ann,
Can you send a code example for me to support?

[2022-09-08 09:10] curtis-j-campbell commented on #105
Just to clarify, is the `alwaysRenderItemSelected` prop meant to hide the items in the image above? If that is the intended behaviour, it doesnt seem to work

[2022-09-08 11:25] Pika-Pool opened #106 "[Feature Request] Option to show loading state when dropdown is opened"
A `loading`/`isLoading` prop to indicate the data is being fetched from a server. An application might be to load usernames in a particular team in an organisation.

When `loading` is `true`, show a `ActivityIndicator` in the dropdown container instead of the list

[2022-09-12 13:24] markosrx commented on #104
Hi @hoaphantn7604, thank you for your response.
Do you mean I can achieve something like in the image below? I am not sure we understand well so just to check.

![Simulator Screen Shot - iPhone 13 Pro Max - 2022-09-07 at 15 14 25](https://user-images.githubusercontent.com/24739932/189665488-392355af-3b7f-4911-bf20-5e4c09c94e9f.png)

[2022-09-13 02:38] markymc commented on #83
@waldenermonteiro try this:

[code]

Then (I'm using Cypress):

[code]

[2022-09-15 02:05] hoaphantn7604 commented on #106
hi @Pika-Pool ,
Refer this example:
[code]

[2022-09-15 02:17] hoaphantn7604 commented on #105
hi @curtis-j-campbell ,
Refer this example:
[code]

[2022-09-15 02:19] hoaphantn7604 commented on #104
hi @markosrx ,
Your problem been solved? Do you need my support anymore?

[2022-09-15 02:23] hoaphantn7604 commented on #101
hi @Audrey-Ann ,
dropdownPosition is "bottom" then  flatListProps={{ inverted: true }}.
dropdownPosition is "top" then  flatListProps={{ inverted: false }}.

[2022-09-15 03:11] #106 closed

[2022-09-15 09:04] markosrx commented on #104
Hi @hoaphantn7604, I achieved this on image by patching your library by changing the way how `const left` is used...But after that I replaced  this library and used some picker because I couldn't find the way to use it without patching.

[2022-09-15 11:45] Bodrie opened #108 "Touchable/active field is only where the text is"
The only area where you can trigger the dropdown is the text box, which is coloed in blue, the container which is colored in red cant trigger the dropdown. This can be fixed with `width: 100%` in the styles file of `dropdown` class

![Screenshot 15-09-2022](https://user-images.githubusercontent.com/80153626/190394294-3bec9742-39e3-4d33-8dd8-f1c3ae22e079.png)

![image](https://user-images.githubuse

[2022-09-15 13:07] JSourianos commented on #105
I also wondered the same, `alwaysRenderItemSelected` implies that one should not render all the items in the list -> when the list is rendered it always show all the items inside like so:
![Screenshot 2022-09-15 at 15 07 11](https://user-images.githubusercontent.com/36825493/190411480-800c08f6-5cfd-4d09-8d25-a14a711c1b19.png)

[2022-09-16 23:05] hadnet commented on #106
@hoaphantn7604 first of all, thanks for this awesome work. My only request is if you can you export the DropdownProps type in order to use it in wrapper comps.

[2022-09-19 07:05] mukeshbuwade1 opened #109 "can i use array of an element for data prop"
i have data =   ["TEST_COLUMN", "TEST_COLUMN2", "MOBILE_NUMBER", "STATUS"]

is it possible to show in dropdown

[2022-09-20 07:13] Jamal-ReachFirst commented on #34
Use (flexShrink:1) instead of flex:1 will resolve the issue.
Thanks

[2022-09-21 07:10] janshajansha commented on #109
You can pass the data as below

`const formatData = data => {
            let obj = [];
            data.map((val,i) => {
                obj[i] = { 'label' : val, 'value' : val};
            });
            return obj;
};`
`const data = ["TEST_COLUMN", "TEST_COLUMN2", "MOBILE_NUMBER", "STATUS"];`
`<Dropdown
        data={formatData(data)}
        labelField="label"
        valueField="value"
/> `

[2022-09-22 03:01] hoaphantn7604 commented on #109
hi @janshajansha ,
[code]
labelField & valueField is required.
So the input data must be an object in array.

[2022-09-22 03:12] hoaphantn7604 commented on #108
hi @Bodrie ,
Do you put justifyContent: "center" & alignItems: "center" on View container?

[2022-09-23 06:33] Bodrie commented on #108
Hello, @hoaphantn7604,
I've got only `style={{ alignItems: 'center'}}` on the `Dropdown` component

[2022-09-29 11:10] Jamal-ReachFirst commented on #100
keyboard issues on android by running the example

[2022-09-30 15:29] Nasaruddin12 opened #110 "when we pass interger array data to drop it give error java.lang java.double cant convert into java.string"

[2022-10-01 02:13] hoaphantn7604 commented on #110
hi @Nasaruddin12 ,
What is your input data?

[2022-10-01 02:15] hoaphantn7604 commented on #108
Hi @Bodrie ,
Try deleting alignItems: 'center' see if this issue is still there?

[2022-10-01 17:51] AkshayPatel7000 commented on #100
<img width="344" alt="Screenshot 2022-10-01 at 11 19 04 PM" src="https://user-images.githubusercontent.com/91655605/193421896-2b9f5fc9-2bd9-46db-b059-b859f59ccda3.png">

input container with placeholder scrolls up but the dropDown container stays at the previous possition

[2022-10-04 14:36] ihonomic commented on #71
It worked for me. Thanks

[2022-10-04 15:37] irenegonzalez27 commented on #20
Are there examples of this somewhere, please?

[2022-10-05 16:42] saheelsapovadia opened #111 "Android Navigation Color is changed to default white when dropdown is opened"
I have changed the android bottom navigation color for my app and when I tap and open the dropdown the color changes to white.

![image](https://user-images.githubusercontent.com/59962703/194115217-34e830d1-302f-42ca-94c5-285f052c4b1a.png)

See the bottom back, home and tasks buttons of android.

![image](https://user-images.githubusercontent.com/59962703/194115149-d92f9c7c-cb22-4837-9ae8-59f64c06

[2022-10-07 14:15] myou11 commented on #100
I am having this same issue as @AkshayPatel7000. The search bar avoids the keyboard just fine, but the dropdown is hidden by the keyboard, so when we search for items in the dropdown, we can't see any results since the keyboard is hiding it.

[2022-10-08 02:00] nvacheishvili commented on #96
this actually prevents using async options which would be cool with multi dropdown search... search is not only convenience of the front, it could be used to optimize stuff. would love this feature

[2022-10-10 08:37] hoaphantn7604 commented on #111
hi @saheelsapovadia ,
You can use renderItem to customize text color and add icon.

[2022-10-11 13:19] saheelsapovadia commented on #111
@hoaphantn7604 thank you for responding.
Just to be clear, I am having uses with the bottom android system navigation bar.
I have highlighted in the attached screenshot with `yellow`.
 Will renderItem help here?
![screenshot](https://user-images.githubusercontent.com/59962703/195101555-91f2e47d-248d-4a21-9e70-2ff5498cda51.png)

[2022-10-12 08:51] hoaphantn7604 commented on #111
hi @saheelsapovadia,
Refer there https://github.com/facebook/react-native/issues/29543

[2022-10-16 12:28] Vijay-CareAllianz commented on #71
Hi @yy412715118  @hoaphantn7604 facing the same problem here. any solution?

[2022-10-17 16:34] hoaphantn7604 commented on #105
hi @hiren-devstree,
This is not an issue. alwaysRenderItemSelected is the feature, when the dropdown is opened you have the choice to show Items selected values or hide Items selected.

[2022-10-18 17:30] Vijay-CareAllianz opened #112 "want to query from database every time the user types instead of loading it first"
I have large data items and they are increasing.
I would like to have a dropdown for that list. And i would like to query based on user search.

How can we achieve this?

Any suggestions/ Solutions

[2022-10-20 02:15] hoaphantn7604 commented on #112
hi @Vijay-CareAllianz ,
Can you use Props "onChangeText".
Ex:
[code]

[2022-10-20 02:17] hoaphantn7604 commented on #64
hi @abhinav0031 ,
This issue is resolved in later version.

[2022-10-20 02:17] #64 closed

[2022-10-24 10:12] hoaphantn7604 commented on #112
If there are no more problems. I will close this issue.

[2022-10-24 10:12] #112 closed

[2022-10-24 10:13] hoaphantn7604 commented on #111
If there are no more problems. I will close this issue.

[2022-10-24 10:13] #111 closed

[2022-10-24 10:13] hoaphantn7604 commented on #110
If there are no more problems. I will close this issue.

[2022-10-24 10:13] hoaphantn7604 commented on #109
If there are no more problems. I will close this issue.

[2022-10-24 10:13] #109 closed

[2022-10-26 09:05] hoaphantn7604 commented on #100
hi All,
Please install new version 2.3.1 and re-check this issue.

[2022-10-27 23:28] premdasvm opened #113 "How to pass already selected data?"
Hi,

I've a dropdown component where i use `react-native-element-dropdown` for selecting branches when I try to create a new product. What I'm trying to achieve is to use the same screen for the product's `edit`. I already have a array of branches previously selected which I need to show as already selected along with my whole like.

I tried updating the array assigned as the `value` in the MultiS

[2022-10-28 06:49] BigDaddy-Zephyr commented on #113
Can you share your code? I had the same error just now, the problem I was I was assigning the `value` array with `[{label:1,value:"Foo"}]` . Changed the `value` array to just an array of values like `["Foo"]` and it worked.

[2022-10-28 09:51] premdasvm commented on #113
@BigDaddy-Zephyr I was doing the same thing with my value, I changed that to something like `["Foo"]` now it's working like you said. Thanks for the help mate.

But theoretically it should work the other way around also right? 🤔  @hoaphantn7604

[2022-11-02 04:49] dprajapati1179 commented on #104
Hi, My issue is the same as you described in the above image I want only the icon to display and dropdown for te same but the width needs to pass to get the options container width do you have any solution?

[2022-11-02 08:14] lamlengend98 commented on #87
@hoaphantn7604 still occurs on 2.3.1

[2022-11-02 08:18] lamlengend98 commented on #87
https://user-images.githubusercontent.com/37770203/199436071-deeeab4a-f318-4712-b021-cfad46afff95.mp4

Maybe this lib conflicts with KeyboardAwareScrollView

[2022-11-02 08:31] lamlengend98 commented on #87
alright, fixed by add ```enableResetScrollToCoords={false}``` in KeyboardAwareScrollView
https://github.com/APSL/react-native-keyboard-aware-scroll-view/issues/313

[2022-11-03 15:41] BedoEbied commented on #52
@hoaphantn7604 any updates?
It's kinda difficult to manually style the Flat List

[2022-11-09 19:52] MIKEANTUMA opened #114 "defaulting to value when nothing has been selected"
hello,

I am using the drop down on a form and if I do not select anything it defaults a value when the form is submitted. is there away to not allow the user to submit if nothing in the drop down has been select. I guess stop the drop down from defaulting to a value?

[2022-11-10 09:19] hoaphantn7604 commented on #114
hi @MIKEANTUMA ,
I checked your issue. The problem does not exist in this package. Please re-check your code again.

[2022-11-10 16:19] thaynarbo opened #115 "isTablet in const "isFull" is not getting real value in the physical samsung tab6"
We were experiencing a bug in our app that we couldn't simulate in the android studio emulator. After a lot of time trying to understand the reasons that we couldn't simulate what tue QA analyst was showing on the physical device, we found that the

useDetectDevice returns a wrong isTablet value for the input, therefore the alignment was completely different in the physical device. We searched a b

[2022-11-11 07:25] hoaphantn7604 commented on #115
hi @thaynarbo ,
What is your simulator device name?

[2022-11-11 11:12] thaynarbo commented on #115
Well, I couldn’t reproduce the problem on the emulator. I've used the [samsung remote lab](https://developer.samsung.com/remotetestlab), to be able to simulate the BUG the tester has found in the real device.

In case you try using the Samsung remote lab, please make use of Tab S6, android 12.

Unfortunately, there is no pre-built device on android studio and creating a new one with the same speci

[2022-11-11 12:06] jeandiego commented on #115
Hi @hoaphantn7604,

One point to mention is that the problem only occurs in release mode. If we build app on debug, works fine.

[2022-11-11 14:35] rick427 opened #116 "Status bar disappears after forcing my app to stay in light mode"
Hi, so I needed to force my app to remain in light mode because I haven't catered for a dark mode just yet and i didn't want to break my app styles because some users prefer dark mode over light. However after doing this, each time i focus on the dropdown (i.e tap on it), my status bar disappears. A preview image of the app can be found below, as well as my changes

**Result**
![WhatsApp Image 202

[2022-11-11 17:01] gpoontip commented on #101
@hoaphantn7604
But when using `dropdownPosition="top"` and `flatListProps={{ inverted: false }}` with a large dataset (states for example) then it starts from the bottom (Wyoming). How can it work so that it starts at the top (Alabama)?

If I preselect Alabama and use the auto scroll feature there's a 1 second delay before it scrolls to the top.

Is there a better way?

[2022-11-14 06:43] hoaphantn7604 commented on #115
Hi @jeandiego I'm working on it.

[2022-11-14 09:58] hoaphantn7604 commented on #115
hi @jeandiego @thaynarbo ,
I have updated function "isTablet" in release 2.4.0. Not sure is it working. Can you help me re-check issue?

[2022-11-14 19:58] linuxuser07 opened #118 "MultiSelect render count text instead of items"
Is there a way to render inside just the count instead of the items.

example:
instead of showing chips with  item1 item2 item3 item4  just show 4/10 items selected.

[2022-11-17 09:48] OnurSerbes opened #119 "Dropdown list display the labels instead of values"
Hello I am trying to set my data as "array of objects". My data is desigend as
[code]
But it displays to me the labels instead of my values. Here are my convert, render, and dropdown code blocks I hope you can help. I am stuck on this bug.

**App.js**
https://gist.github.com/OnurSerbes/2b09965bbff263f88973c989018bf7c5

**DynamicComponent.js**
https://gist.github.com/OnurSerbes/b16991f1f015e33c180a

[2022-11-17 11:56] OnurSerbes commented on #119
After reviewing the documentation I noticed that the dropdown list only shows the label. So I organized my data according to that.

[2022-11-17 11:56] #119 closed

[2022-11-28 03:20] hoaphantn7604 commented on #115
hi @thaynarbo ,
I tried your patch but it doesn't work on some devices.

[2022-11-28 17:35] ElHefe3 opened #121 "Does not fully support JSON files"
When I try to use a JSON file as a source of data, everything works fine, until I change the state for any other value (using hooks) on the page, then the selected value of the dropdown list defaults to the first value.

Edit: I managed to solve this problem by setting the value equal to a state
[code]

But now the initial selection displays blank, and only after making a selection for a second ti